body{
    background-color: green;
}

#carta{
    width: 300px;
    height: 450px;
    background-color: white;
    border-radius: 20px;
    margin: 5% auto;
}

#sarriba {
    display: inline-block;
    position: relative;
    left: 10px;
    color: red;
    font-size: 100px;
    width: 60px;
    height: 100px;
}

#numero {
    color: white;
    font-size: 120px;
    width: 120px;
    margin: 50px auto;
    text-align: center;
}

#sabajo {
    float: right;
    position: relative;
    right: 10px;
    bottom: -15px;
    color: red;
    font-size: 100px;
    width: 60px;
    height: 100px;
    transform: rotate(-180deg);
}

#boton-n {
    margin: auto;
    width: 300px;
    text-align: center;
}

.boton {
    width: 150px;
    font-size: 22px;
    border-radius: 5px;
    font-family:'Josefin sans' , sans-serif;
    padding: 5px;
}